@using X.PagedList.Mvc.Core
@model X.PagedList.IPagedList<CallApi.Models.Admin.Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="page-breadcrumb">
                    <ol class="breadcrumb">
                        <li><a href="index.html">Trang chủ</a></li>
                        <li>Điện thoại</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12">
                <!-- sidenav-section -->
                <div id='cssmenu'>
                    <ul>
                        <li class='has-sub'>
                            <a href='#'>Hệ điều hành</a>
                            <ul>

                                <li>
                                    <label>
                                        <a asp-action="Index" asp-controller="UserProduct" class="checkbox-list" asp-route-system="">Tất cả</a>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <a asp-action="Index" asp-controller="UserProduct" class="checkbox-list" asp-route-system="android">Android</a>
                                    </label>
                                </li>
                                <li>
                                    <label>
                                        <a asp-action="Index" asp-controller="UserProduct" class="checkbox-list" asp-route-system="ios">IOS</a>
                                    </label>
                                </li>

                            </ul>
                        </li>
                        <li class='has-sub'>
                            <a href='#'>Hãng sản xuất</a>
                            <ul>
                                <li>
                                    <label>
                                        <a asp-action="Index" asp-controller="UserProduct" class="checkbox-list" asp-route-categoryId="">Tất cả</a>
                                    </label>
                                </li>

                                @foreach (var item in ViewBag.Categories)
                                {
                                    <li>
                                        <label>
                                            <a asp-action="Index" asp-controller="UserProduct" class="checkbox-list" asp-route-categoryId="@item.CategoryId">@item.CategoryName</a>
                                        </label>
                                    </li>
                                }

                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.sidenav-section -->
            </div>
            <div class="col-lg-9 col-md-9 col-sm-8 col-xs-12">
                <div class="row">
                    <!-- product -->
                    @foreach (var item in ViewBag.products)
                    {
                        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12 mb30">
                            <a asp-action="Detail" asp-controller="UserProduct" asp-route-productId="@item.ProductId">
                                <div class="product-block">
                                    @foreach (var i in ViewBag.productImages)
                                    {
                                        if (item.ProductId == i.ProductId)
                                        {
                                            <div class="product-img"><img src="@ViewBag.domain@i.Thumb" /></div>
                                        }

                                    }
                                    <div class="product-content">
                                        <h5>
                                            <a href="#" class="product-title">
                                                @item.ProductName <strong>
                                                    (@item.Memory,
                                                    Black)
                                                </strong>
                                            </a>
                                        </h5>
                                        <div class="product-meta">
                                            <a href="#" class="product-price">@item.Price.ToString("C0", new System.Globalization.CultureInfo("vi-VN"))</a>
                                        </div>
                                    </div>
                                </div>
                            </a>
                        </div>
                    }
                    <!-- /.product -->

                </div>
                <div class="row">
                    <!-- pagination start -->
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="form-inline">
                            @Html.PagedListPager(
                                     Model,
                                     page => Url.Action("Index", "UserProduct", new { page = page }),
                                     new PagedListRenderOptions
                            {
                                LiElementClasses = new[] { "page-item" },
                                PageClasses = new[] { "page-link" },
                                UlElementClasses = new[] { "pagination" },
                                LinkToPreviousPageFormat = "Previous",
                                LinkToNextPageFormat = "Next",
                                DisplayLinkToPreviousPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToNextPage = PagedListDisplayMode.IfNeeded,
                                DisplayLinkToFirstPage = PagedListDisplayMode.Never,
                                DisplayLinkToLastPage = PagedListDisplayMode.Never
                            }
                                     )
                        </div>
                    </div>
                    <!-- pagination close -->
                </div>
            </div>
        </div>
    </div>
</div>

